# **LOGIC BUILDING TASK 2 - PYTHON DATA STRUCTURES**

PROBLEM 1: Unique Words in a Sentence

In [1]:
print("=" * 50)
print("PROBLEM 1: UNIQUE WORDS IN A SENTENCE")
print("=" * 50)

sentence = input("Enter sentence: ")  # python is easy and python is powerful

# Split into words and convert to set for uniqueness
words = sentence.split()
unique_words = set(words)

print(f"Unique words count: {len(unique_words)}")
print(f"Unique words: {unique_words}")
print()

==================================================
PROBLEM 1: UNIQUE WORDS IN A SENTENCE
==================================================
Enter sentence: python iis easy and python is powerful
Unique words count: 6
Unique words: {'easy', 'python', 'is', 'and', 'iis', 'powerful'}

PROBLEM 2: Highest Salary from Employee Data

In [2]:
print("=" * 50)
print("PROBLEM 2: HIGHEST SALARY FINDER")
print("=" * 50)

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with maximum salary
max_salary = 0
top_employee = ""

for name, salary in employees.items():
    if salary > max_salary:
        max_salary = salary
        top_employee = name

print(f"Highest Salary: {top_employee} - {max_salary}")
print()

==================================================
PROBLEM 2: HIGHEST SALARY FINDER
==================================================
Highest Salary: Ravi - 75000

PROBLEM 3: Find Maximum and Minimum Values

In [3]:
print("=" * 50)
print("PROBLEM 3: MAX AND MIN VALUES")
print("=" * 50)

numbers = [45, 22, 89, 10, 66]

# Initialize with first element
max_val = numbers[0]
min_val = numbers[0]

# Compare with remaining elements
for num in numbers[1:]:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print(f"List: {numbers}")
print(f"Max: {max_val}")
print(f"Min: {min_val}")
print()

==================================================
PROBLEM 3: MAX AND MIN VALUES
==================================================
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

PROBLEM 4: Count Products Above Price Threshold

In [4]:
print("=" * 50)
print("PROBLEM 4: PRODUCTS ABOVE THRESHOLD")
print("=" * 50)

prices = [450, 1200, 899, 1500, 300]
threshold = 1000

count = 0
for price in prices:
    if price > threshold:
        count += 1

print(f"Products above {threshold}: {count}")
print()

==================================================
PROBLEM 4: PRODUCTS ABOVE THRESHOLD
==================================================
Products above 1000: 2

PROBLEM 5: Calculate Attendance Percentage

In [5]:
print("=" * 50)
print("PROBLEM 5: ATTENDANCE PERCENTAGE")
print("=" * 50)

attendance = ["P", "P", "A", "P", "P"]

present_count = 0
for status in attendance:
    if status == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100
print(f"Attendance Percentage: {percentage}")
print()

==================================================
PROBLEM 5: ATTENDANCE PERCENTAGE
==================================================
Attendance Percentage: 80.0

PROBLEM 6: Remove Duplicate Phone Numbers

In [6]:
print("=" * 50)
print("PROBLEM 6: REMOVE DUPLICATE PHONE NUMBERS")
print("=" * 50)

phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert to set to remove duplicates
unique_phones = set(phone_numbers)

print(f"Unique phone numbers: {unique_phones}")
print()

==================================================
PROBLEM 6: REMOVE DUPLICATE PHONE NUMBERS
==================================================
Unique phone numbers: {9876543210, 9123456789}

PROBLEM 7: Count Character Frequency

In [7]:
print("=" * 50)
print("PROBLEM 7: CHARACTER FREQUENCY")
print("=" * 50)

text = "python"
freq = {}

for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)
print()

==================================================
PROBLEM 7: CHARACTER FREQUENCY
==================================================
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

PROBLEM 8: Convert List to Tuple

In [8]:
print("=" * 50)
print("PROBLEM 8: LIST TO TUPLE CONVERSION")
print("=" * 50)

my_list = [10, 20, 30]
my_tuple = tuple(my_list)

print(f"Tuple: {my_tuple}")
print()

==================================================
PROBLEM 8: LIST TO TUPLE CONVERSION
==================================================
Tuple: (10, 20, 30)

PROBLEM 9: Check if Key Exists in Dictionary

In [9]:
print("=" * 50)
print("PROBLEM 9: KEY EXISTS CHECK")
print("=" * 50)

employees = {"Ravi": 75000, "Anita": 68000}
key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee not found")
print()

==================================================
PROBLEM 9: KEY EXISTS CHECK
==================================================
Employee exists

PROBLEM 10: Calculate Average Marks

In [11]:
print("=" * 50)
print("PROBLEM 10: AVERAGE MARKS")
print("=" * 50)

marks = [85, 90, 60, 75, 80]

total = sum(marks)
average = total / len(marks)

print(f"Average Marks: {average}")

==================================================
PROBLEM 10: AVERAGE MARKS
==================================================
Average Marks: 78.0